/* import font from google font */
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

/* reset css */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Sawarabi Gothic', sans-serif;
}

.nav-container {
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
  align-items: center;
  width: 100%;
  padding-block: 1.3em;
  justify-content: flex-end;
}

.nav-container .navbar-menu {
  display: flex;
  width: 38%;
  justify-content: space-around;
}

.nav-container .navbar-menu li {
  list-style-type: none;
}

.nav-container .navbar-menu a {
  position: relative;
  text-decoration: none;
  font-size: 1em;
  line-height: 19px;
  color:#6D6D6D;
}

.nav-container .navbar-menu a:after {
  content: "";
  position: absolute;
  background-color: #2e2e2e;
  height: 2px;
  width: 0%;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-container .navbar-menu a:hover::after {
  width: 100%;
}

.hero {
  min-height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
  padding: 8rem;
  width: 80%;
  gap: 14px;
  color: #2e2e2e;
}

.hero h1 {
  font-size: 3rem;
}

.hero .description {
  font-size: 1.1em;
}

.logo-social-media {
  margin-top: 10px;
  display: flex;
  gap: 14px;
}
.logo-social-media img {
  width: 24px;
  height: 24px;
}

.about {
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  width: 100%;
  gap: 10px;
  color: #2e2e2e;
}

.about-me {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
}

.about-me h1 {
  font-size: 2.1rem;
}

/* Portofolio Start */

.portofolio {
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.portofolio-card {
  width: 30%;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.portofolio-card img {
  width: 100%;
}

.portofolio-card-title {
  padding: 1rem;
}

.portofolio-card-title p {
  margin-top: .5rem;
}

/* Portofolio End */


/* hobby start */
.hobby {
  width: 100%;
  font-size: 28px;
  text-align: center;
  margin-top: 10rem;
}

main .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content-container .image {
  padding: 5rem;
  display: flex;
  justify-content: center;
  width: 50%;
}

main .content-container img{
  width: 150px;
  height: 150px;
}

main .content-container .content{
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 5rem;
  width: 50%;
}

main .content-container .content h3{
  font-weight: 900;
  font-size: 2em;
  line-height: 49px;
  color: #40514E;
}

main .content-container .content p{
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  color: #6D6D6D;
  text-align: justify;
}

/* @media (min-width: 40rem) {
  main .content-container .content {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  main .content-container .content {
    width: 33.3333%;
  }
} */

/* hobby end */



